<div id="bottom">
    <div id="footer">
        <a href="https://www.python.org/"><img src="/static/home/img/logos/1.png"/></a>
        <a href="https://www.djangoproject.com/"><img src="/static/home/img/logos/2.png"/></a>
        <a href="https://vk.com/"><img src="/static/home/img/logos/3.png"/></a>
    </div>
    <div class="right">
        <div class="company">
            &copy; 2025. Jack Daniel's Tennessee Whiskey.<br/>
            <b>Sergey Lobanov - Earthling</b>
        </div>

        <div class="links">
            <a href="https://vk.com/stratopedarx" class="contacts">Contacts</a>
            <a href="https://www.youtube.com/" class="sitemap">YouTube</a>
            <a href="https://www.google.ru/" class="help">Help</a>
        </div>
    </div>
</div>