body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Myriad Pro";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 2rem;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/*----------------------------------------*/
textarea:focus, input:focus{outline: 0;}

html, body {
    min-height: 85% !important;
    min-height: auto;
    height: 85%;
    border: none;
}



.nodisplay{
   display: none!important;
}

#maincontent{
    text-align: center;
    background: #fff;
    padding: 20px 0;
}
.wrapper {
    display: block;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    min-width: 800px;
    /*background: yellow;*/
}
.container {
    display: block;
    height: 1%;
    padding: 0 0 50px 0;
}
.footer {
    margin: -50px 0 0 0;
    height: 50px;
    background: #BFF08E;
    position: relative;
}

#head{
    height: 600px;
    padding-top: 60px;

    background: #AFEEEE top center no-repeat;
    text-align: center;
    overflow: hidden;
}

#head .form{
    margin-top: 10px;
}
#head .form input{
    height: 50px;

}
#head .form .form-group{
    position: relative;
}
.wrap{
    width: 1170px;
    margin: 0 auto;
}
#content{
    height: 630px;
    background: #edf0f5;
    text-align: center;
}
#content h2{padding: 70px 0}
h2{
    font:30pt/1.5 "Myriad Pro";
    text-transform: uppercase;
}
.right{float: right}
#wecando{
    height: 504px;
    text-align: center;
    background: #3a404c no-repeat 50% 0;
    color:#fff;
}
#wecando h2{font-size: 60px;}
#wecando .items{
    position: absolute;
    left: 50%;
    margin-left: -270px;
    margin-top: 30px;
}
#wecando .item{width: 170px; float: left; font-size: 30px;  padding: 50px 20px;}
#wecando .item img{margin: 15px 0;}
.btns{margin-top: 20px;}
.btns .btn{text-transform: uppercase; margin-right: 5px;}
.btns .reg{background: #1E90FF; color:	#00000}
.btns .demo{background: transparent; border:2px solid #fff; color:#fff}
.dq1,.dq2{position: absolute;}
.dq1{background: url(../img/dq1.png); width: 26px; height: 20px; margin-left: -26px;}
.dq2{background: url(../img/dq2.png); width: 26px; height: 22px; right: 0; margin-right: -20px; margin-top: -22px;}
#reviews{height: 930px; text-align: center; background: #edf0f5; overflow: hidden;}
.reviews{position: relative; left: 50%; margin-left: -370px;}
.review{
    width: 200px;
    float: left;
    margin-right: 70px;
    position: relative;
}
.review img{
    border-radius: 170px;
    -moz-border-radius: 170px;
    -webkit-border-radius: 170px;
    -ms-border-radius: 170px;
}
.review .name{
    display: block;
    color:#272d39;
    font-size:18px
}
.review .pos{
    display: block;
    font-size:14px;
}

#footer{
    height: 98px;
    background: #FFFFFF;
    text-align: center;
}
#footer img{
    display: inline;
    margin: 10px 15px 0;
}
#footer2{
    height: 98px;
    clear: both;
}

#footer2 .flogo{
    margin-top: 15px;
}
#footer2 .links{
    position: absolute;
    left: 50%;
    margin-left: -120px;
    margin-top: 30px;
}
#footer2 .links a{
    padding-left: 20px;
    color:#4bb547;
    margin-right: 10px;
}
#footer2 .links .contacts{background: url(../img/icons/1.png) no-repeat 0 50%;}
#footer2 .links .sitemap{background: url(../img/icons/2.png) no-repeat 0 50%;}
#footer2 .links .help{background: url(../img/icons/3.png) no-repeat 0 50%;}


/*-----------------------------cabinet-----------------------------*/
.cabinet{
    background: #edf0f5;
}
.cabinet h2{
    font:30pt/1.5 "Myriad Pro";
    text-transform: none;
}
.cabinet #logo{
    background: url(../img/cab/logo.png) no-repeat 50% 50%;
    width: 187px;
    height: 48px;
    left:200px;
    float: left;
    margin-top: 20px;
}
.cabinet .content{
    padding-left: 200px;
    min-width: 1100px;
}
.cabinet .left{
    width: 200px;
    margin-left: -200px;
    float: left;
    font-size: 24px;
}
.photo{
    background: #fff;
    width: 170px;
    height: 170px;
    border-radius: 85px;
    position: relative;
}
.cabinet .photo div{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.cabinet .top{
    height: 98px;
    position: relative;
    overflow: hidden;
}
.cabinet .top .social{text-align: right; margin-top: 20px;}
.cabinet .top .social img{margin-left: 5px;}
.cabinet a.exit{
    display: inline-block;
    background: url(../img/cab/exit.png);
    width: 9px;
    height: 9px;
}
.cabinet .wrap{
    width: 1280px;
}

.cabinet .bl.products .btn{
    text-transform: uppercase;
}
.cabinet .bl{
    background: #fff;
    margin: 0 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px #101010;
}
.cabinet .bl .cont{
    padding: 10px 20px;
}

.cabinet .bl.acc .bootstrap-select{
    width: 323px;
}
.cabinet .bl.acc .bootstrap-select .text-muted {
    /*float: right;*/
    position: absolute;
    right: 30px;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text{
    display: block !important;
}
.cabinet .bl h3{
    color: #272d39;
    font-weight: bold;
    line-height: 2;
}
.cabinet .social a{
    display: inline-block;
    position: relative;
}
.cabinet .social .suc span{
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img/cab/ok.png) no-repeat;
}
.cabinet .top .btnbig{
    height: 98px;
    width: 100px;
    background: #4bb547 url(../img/cab/add.png) 50% 50% no-repeat;
    display: block;
    left: 200px;
    position: relative;
    transition: background-color 0.5s ease;
}
.cabinet .top .btnbig:hover{
    background-color: #378735;
}
.spec{
    color: #4bb547;
    text-decoration: none;
}
.loadava{
    width: 42px !important;
    height: 42px !important;
    display: block;
    background: url(../img/cab/loadava.png);
    left: 50%;
    margin-left: -21px;
    margin-top: -20px;
    position: relative;
}
.loadava input{
    opacity: 0;
    display: block;
}
h3{text-transform: uppercase}
.bs-select-hidden{display: none;}

.popup.change-photo{
    width: 632px;
    min-height: 209px;
    position: absolute;
    left: 50%;
    margin-left: -316px;
    top:50%;
    margin-top: -104px;
}
.popup.change-photo .upload{
    float: right;
    width: 400px;
}
.over{
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.popup .closebut{
    background: url(../img/closebut.png);
    width: 15px;
    height: 14px;
    position: absolute;
    margin-top: -35px;
    right: 0;
    top: 0;
}
.popup{
    z-index: 2;
    background: #eee;
    padding: 20px;
}
.popup .btn{
    text-transform: uppercase;
}
.popup h4{
    margin: -60px 0 20px -20px;
    font:24px/1.3 "Myriad Pro";
    color: #ffffff;
    text-shadow: 0 0 1px #000;
}

.photo div{
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

ul.groups{
    margin-left: -30px;
    margin-top: 10px;
}
ul.groups a{
    color:#272d39;
    font:20px/16px "Myriad Pro";
    display: block;
    padding: 12px 0 12px 70px;
    margin-right: 15px;
}
ul.groups a span{
    margin-left: 3px;
    background: #272d39;
}

ul.groups a:hover{
    background: #f4f6f9;
    text-decoration: none;
}

.table-list{
    width: 100%;
    margin-top: 5px;
}
.table-list .cost{
    letter-spacing: 1px;
}
.table-list a:hover{
    color: #4bb547;
    text-decoration: none;
}
.table-list thead td{
    color: #0000FF;
    padding: 20px 0px;
}
.table-list tbody td{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: clip | ellipsis
    width: 0px; /* Ширина блока */
    font-size: 1.2em; /* Размер шрифта */
    padding: 20px 0;
    word-wrap: break-word; /* Перенос слов */

}
.table-list tr:nth-child(even){
    background: #edf0f5;
}
a.square{
    display: block;
    margin: 0 9px;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
a.square.blue{background: #3498db; border-color:#3498db}
a.square.purple{background: #9b59b6; border-color:#9b59b6}
a.square.yellow{background: #f1c40f; border-color:#f1c40f}
a.square.green{background: #2ecc71; border-color:#2ecc71}
a.square.orange{background: #e67e22; border-color:#e67e22}
a.square:hover{background: #fff;}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.chartjs-tooltip-key{
    display:inline-block;
    width:10px;
    height:10px;
}

.colors a{
    float: left;
    width: 42px;
    height: 42px;
    font-size:18px;
    line-height: 36px;
    text-align: center;
    top: 0 !important;
    color: #fff;
    text-decoration: none;
}
.colors a:last-child{margin-left: 15px;}


.bl.products .btn-xs{
    margin-top: 13px;
}

#chartjs-tooltip {
    display: none;
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#chartjs-tooltip.below {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#chartjs-tooltip.below:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
#chartjs-tooltip.above:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.window{
    width: 1068px;
    height: 880px;
    background: #efefef;
    position: relative;
    overflow: hidden;
}

.scroll-list{/*overflow-y: scroll;*/ height: 100%;
    padding-bottom: 50px;}


body{
    background: #AFEEEE;
}

.window{
    background: #fff;
    margin: 124px auto;
    min-height: 124px;
    height: 830px;
    overflow: hidden;
    padding: 25px 30px;
}

.window h3{
    font: 18px/1.3 "Myriad Pro";
    text-transform: none;
    color: #334172;
    padding-bottom: 10px;
}
.window h3 a {
    text-decoration: none;
}
.window .col{
    width: 270px;
    height: 100%;
    padding-bottom: 30px;
    margin-left: 5px;
    float: right;
}
.window .col input{
    width: 100%;
}


/**/

.current-groupname-text{
   background: none!important;
}

.multiselect {
    width:20em;
    height:15em;
    border:solid 1px #c0c0c0;
    overflow:auto;
}

.multiselect label {
    display:block;
}

.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.fig {
    text-align: center; /* Выравнивание по центру */
   }