{% extends "quiz/base.html" %}

{% block user_content %}

<h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'quiz:submit' %}" method="post">
    {% csrf_token %}
    {% for option in options.all %}
        <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}" />
        <label for="option{{ forloop.counter }}">{{ option.option_text }}</label><br />
    {% endfor %}
    <input type="submit" value="next" />
    </form>

{% endblock %}